body{
    margin: 0;
    box-sizing: border-box;
}

.contenedor-bienvenida{
    min-width: 375px;
    width: 100%;
    height: auto;
    background-color: #13171C;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(150px, 1fr)
    );
}
@media (max-width: 375px) {
    .contenedor-bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    }
}
.logo-cohete{
    width: 23vw;
    height: auto;
    max-width: 353px;
    max-height: 340px;
    margin: 31% 32% 47.5% 15.5%;
    min-width: 150px;
    min-height: 150px;

}
@media (max-width: 375px) {
    .logo-cohete{
        min-width:219px;
        min-height: 211px;
        margin-top: 15%;
        margin: 54px 87px 164px 69px;
    }
}
.title-bienvenida{
    color: #00ADB5;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #00ADB5;
    text-align: left;
    height: 60%;
    width: 100%;
}
@media (max-width: 375px){
    .title-bienvenida{
        text-align: center;
    }
}
@media (max-width: 600px) {
    .title-bienvenida, .hola {
        font-size: min(calc(6.66vw + 20px), 70px);
    }
}
.hola{
    margin: 0;
    font-family: "Poppins", sans-serif;

    color: white;
    text-align: left;
    height: 60%;
    width: 100%;
    font-weight: 700;
}
.title-bienvenida, .hola {
    font-size: clamp(70px, calc(6.66vw + 20px), 100px);
}

.contenedor-titulo-bienvenida{
    text-align: left;
    width: 100%;
    height: 23%;
    line-height: 1;
    margin: 40% 15.5% 70% 26.5%;
}
@media (max-width: 875px){
    .contenedor-titulo-bienvenida{
     width: 80%;   
    }
}
@media (max-width: 375px){
    .contenedor-titulo-bienvenida{
        width: 288px;
        height: 225px;
        margin: 70px 43px 54px 44px;
        text-align: center;
    }
}

@media (max-width: 740px) {
    .contenedor-bienvenida{
        height: 778px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .logo-cohete{
        margin: 0;
        min-width: 219px;
        min-height: 211px;
    }
    .contenedor-titulo-bienvenida{
        margin: 0;
        text-align: center;
    }
    .title-bienvenida{
        text-align: center;
    }
}

.contenedor-header{
    width: 100%;
}
.contenedor-footer-portfolio{
    width: 100%;
}